@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-weight: 300;
    font-display: swap;
    font-style: normal;
    font-family: IRANSansXFaNum-regular;
    src: url("./assets/fonts/woff/IRANSansXFaNum-Regular.woff") format("woff"),
      url("./assets/fonts/woff2/IRANSansXFaNum-Regular.woff2") format("woff2");
  }
  @font-face {
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    font-family: IRANSansXFaNum-medium;
    src: url("./assets/fonts/woff/IRANSansXFaNum-Medium.woff") format("woff"),
      url("./assets/fonts/woff2/IRANSansXFaNum-Medium.woff2") format("woff2");
  }
  @font-face {
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    font-family: IRANSansXFaNum-bold;
    src: url("./assets/fonts/woff/IRANSansXFaNum-Bold.woff") format("woff"),
      url("./assets/fonts/woff2/IRANSansXFaNum-Bold.woff2") format("woff2");
  }
}
html,
body,
#root {
  width: 100%;
  height: 100%;
}
body {
  font-family: IRANSansXFaNum-medium;
}
