@tailwind base;
@tailwind components;
@tailwind utilities;
/* define font */
@layer base {
  @font-face {
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    font-family: IRANSansXFaNum-medium;
    src: url("./assets/fonts/woff/IRANSansXFaNum-Medium.woff") format("woff"),
      url("./assets/fonts/woff2/IRANSansXFaNum-Medium.woff2") format("woff2");
  }
}
html,
body,
#root {
  width: 100%;
  height: 100%;
}
body {
  font-family: IRANSansXFaNum-medium;
}
/* define animation */
@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
.animate-fadeInUp {
  animation: fadeInUp 1s;
}
/* change style scroll todoList */
::-webkit-scrollbar {
  width: 7px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #888;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
